{% extends 'dashboard/base/base.html' %}
<!-- Titulo de la pagina -->
{%block title%} SitioManga - Subir Manga {%endblock%}


{%block contenido%}

<h1 class="mt-4">Subir Manga</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, id voluptate accusantium, ab laudantium veritatis hic quae aliquid cupiditate temporibus inventore eligendi labore aperiam voluptatum necessitatibus consequatur aliquam aut odit.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eligendi magnam omnis, vitae eveniet voluptatibus pariatur sed eos debitis modi aliquid placeat natus facere magni dolor perferendis cum impedit tenetur!</p>

{%endblock%}